{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <strong>{{ customer_record.created_at }} {{ customer_record.user }}</strong>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Qr: </strong>{{ customer_record.qr }}
      </p>
      <p class="card-text">
        <strong>Station: </strong>{{ customer_record.station }}
      </p>
      <p class="card-text">
        <strong>Failure: </strong>{{ customer_record.failure }}
      </p>
    </div>
  </div>
  
  <br/><br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'update_record' customer_record.id %}" class="btn btn-primary">Update Record</a>
  <a href="{% url 'output_record' customer_record.id %}" class="btn btn-success">Output Record</a>
</div>

{% endblock %}
